#train {
	animation-name: slidein;
	animation-duration: 3s;
}

@keyframes slidein {
	from {
		margin-left: -150%;
		/*width: 100%;*/
	}
	to {
		margin-left: 140%;
		/*width: 300%;*/
	}
}

.jumbotron,
.card-header,
.submit-btn {
	background-color: #468986;
}

body {
	background-color: #d1e0e8;
}

.card-body {
	/*background-color: #ced0d1;*/
}
